<!doctype html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


  <title>Document</title>
</head>
<body>
<aside class="sidebar" [ngClass]="{collapseClass: isActive}">
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand m-0 py-2 brand-title" href="#">IssueManagement</a>
    <span></span>
    <a class="navbar-brand py-2 material-icons toggle-sidebar" (click)="toggleSidebar()">menu</a>
  </nav>

  <nav class="navigation">
    <ul>
      <li class="active">
        <a routerLink="/dashboard"  routerLinkActive="active" >
          <span class="nav-icon material-icons">public</span>
          Dashboard
        </a>
      </li>

      <li [ngClass]="{'open': showMenu === 'project'}">
        <a (click)="addExpandClass('project')" title="Project">
          <span class="nav-icon material-icons">supervisor_account</span> Project
          <span class="toogle-sub-nav material-icons">keyboard_arrow_right</span></a>
        <ul class="sub-nav" [ngStyle]="{'display':(showMenu === 'project')?'block':'none'}">
          <li>
            <a routerLink="/project"routerLinkActive="active">
              <span><span class="nav-icon material-icons">list</span> &nbsp;&nbsp;&nbsp;Project List</span>
            </a>
          </li>
        </ul>
      </li>

      <li [ngClass]="{'open': showMenu === 'issue'}">
        <a (click)="addExpandClass('issue')" title="Issue">
          <span class="nav-icon material-icons">supervisor_account</span> Issue
          <span class="toogle-sub-nav material-icons">keyboard_arrow_right</span></a>
        <ul class="sub-nav" [ngStyle]="{'display':(showMenu === 'issue')?'block':'none'}">
          <li>
            <a routerLink="/issue"routerLinkActive="active">
              <span><span class="nav-icon material-icons">list</span> &nbsp;&nbsp;&nbsp;Issue List</span>
            </a>
          </li>
        </ul>
      </li>

    </ul>

  </nav>
</aside>
</body>
</html>
