<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


  <title>Document</title>
</head>
<body>

<header class="header sticky-top">
  <nav class="navbar navbar-light bg-white px-sm-4 ">
    <a class="navbar-brand py-2 d-md-none  m-0 material-icons toggle-sidebar" (click)="toggleSidebar()">menu</a>
    <ul class="navbar-nav flex-row ml-auto">
      <li class="nav-item dropdown" dropdown>
        <a href="javascript:void(0)" class="nav-link weight-400 dropdown-toggle" dropdownToggle>
          <i class="fa fa-user"></i>
        </a>
        <div *dropdownMenu class="dropdown-menu  dropdown-menu-right" role="menu">
          <a class="dropdown-item">My Account</a>
          <a class="dropdown-item">Account Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/login']">Logout</a>
        </div>
      </li>

    </ul>

  </nav>

</header>

</body>
</html>
